.headerContainer{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.logo{
    font-size: 30px;
    font-weight: bolder;
}

.link{
    padding: 8px;
    transition: transform 0.4s ease;
}

.link:hover{
    background-color: rgba(102, 26, 173, 0.603);
    border-radius: 5px;
    transform: scale(1.1);
}

.linkList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
}

.cartSearch{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.btnCart{
    background-color: transparent;
    border: none;
    width: 50px;
    font-size: 30px;
}